<div class="container-fluid">
  <p class="text-center muted"><h2>关于 梦~享家</h2></p>

  <div class="row-fluid">
    <div class="span8 offset1">
    <p><h3>
  梦~享家   <br>
  是一个关乎于梦想 关乎于家的地方<br>
  这里  <br>
  有洋气的东西    <br>
  有传统的东西    <br>
  有美味的东西    <br>
  有有趣的东西    <br>
</h3></p>
      <div class="span4"></div>

    </div>
  </div>
</div>
