<div class="container-fluid">
  <p class="text-center muted"><h2>在线帮助</h2></p>

  <div class="row-fluid">
    <div class="span8 offset1">
      <p><h4>
     <ul>
          <li>邮箱地址</li>   <br>
          <address>
            <strong>Home Dreamer</strong><br>
            <a href="mailto:#">homedreamer.joy@gmail.com</a>
          </address>

           <li> QQ地址</li> <br>
          1413415291<br>
     </ul>
      </h4></p>
      </div>
      <div class="span4"></div>

    </div>
  </div>
